[
  {
    shark_app, [
        {twitter_user, ""},
        {twitter_pass, ""},
        {consumer_key, ""},
        {consumer_secret, ""},
        {access_token, ""},
        {access_token_secret, ""},
        {irc_server, "irc.freenode.net"},
        {irc_port, "6667"},
        {irc_login, ""},
        {irc_ident, ""},
        {irc_ident_pass, ""},
        {irc_channel, ""}
    ]
  }
].
