[
  {
    shark_app, [
        {twitter_user, ""},
        {twitter_pass, ""},
        {twitter_update_uri, "http://api.twitter.com/1/statuses/update.json"},
        {twitter_mentions_uri, "http://api.twitter.com/1/statuses/mentions.json"},
        {consumer_key, ""},
        {consumer_secret, ""},
        {access_token, ""},
        {access_token_secret, ""},
        {irc_server, "irc.freenode.net"},
        {irc_port, "6667"},
        {irc_login, ""},
        {irc_ident, ""},
        {irc_ident_pass, ""},
        {irc_channel, ""}
    ]
  }
].
